<H1>Appel Video </H1>

<div class="row">
  <div class="col-ms-6 video-card">
    <div class="card">
      <div class="card card-title">
       <p>local</p>
      </div>
      <div class="card-content">
        <video #local_one [muted]="true" [autoplay]="true"></video>
      </div>
      <p>description</p>
    </div>
  </div>

  <div class="col-ms-6 video-card">
    <div class="col-ms-6 ">
    <div class="card">
      <div class="card card-title">
       <p>Remote camera!</p>
      </div>
      <div class="card-content">
        <video src="#"></video>
      </div>
      <p>description</p>
    </div>


  </div>
</div>
<br><br>
<button>Start local</button>
<button>Stop local</button>
<button>Call</button>
<button>Hangup</button>




