



<body class="hold-transition sidebar-mini">









    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">











        <div class="row">



<app-post *ngFor="let p of postList" [post]="p" (incrementEvent)="likeAndDislike($event)"></app-post>




          <!-- /.col -->
        </div>
        <!-- /.row -->


      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>









</body>

