



<body class="hold-transition sidebar-mini">




 

 
 
   
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      

        

     
        
  
      
      
       
     
    
        

    

    
   
      

      
       
        
                
         

        <div class="row">


          <div *ngFor="let post of postList ; let i =index" class="col-md-12">
            <!-- Box Comment -->
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <img class="img-circle" src="assets/dist/img/post_img/rapha1.jpg" alt="User Image">
                  <span class="username"><a href="#">Rapha Ondobo</a></span>
                  <span class="description">Shared publicly - 7:30 PM {{post.postAt}}</span>
                </div>
                <!-- /.user-block -->
                <!--div class="card-tools">
                  <button type="button" class="btn btn-tool" title="Mark as read">
                    <i class="far fa-circle"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div-->
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <img class="img-fluid pad" src="{{post.pictureLink}}" alt="Photo">

                <h4>{{post.title}}</h4>
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
                <button type="button"   [ngClass]="isLike ? 'btn btn-primary btn-sm' : 'btn btn-default btn-sm' "
                
               (click) ="likeAndDislike(i)" ><i class="far fa-thumbs-up" ></i> {{!isLike ? ("Like" ) : ("Unlike" )}}</button>
                <span class="float-right text-muted">{{post.like}} 
                  {{post.like > 1 ? ("Likes" ) : ("Like" )}} - {{ postList.length }}  {{postList.length > 1 ? ("Comments" ) : ("Comment" )}}  </span>
              </div>
              
              <!-- /.card-body -->
              <app-comments></app-comments>



              <!-- /.card-footer -->
              <div class="card-footer">
                <form action="#" method="post">
                  <img class="img-fluid img-circle img-sm" src="assets/dist/img/user4-128x128.jpg" alt="Alt Text">
                  <!-- .img-push is used to add margin to elements next to floating images -->
                  <div class="img-push">
                    <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                  </div>
                </form>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
        
        
          <!-- /.col -->
        </div>
        <!-- /.row -->



        

    
       
       
        
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  
  

  





</body>

