<div class="wrapper">

    <!-- Navbar -->
    <app-menu-top></app-menu-top>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-side-bar></app-side-bar>
   <!-- /.sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
        <app-page-title-and-url></app-page-title-and-url>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
        
         <h1>ici le contenu
              <app-news></app-news>
         </h1>
      <!-- /.content -->
         </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <app-rigthside></app-rigthside>
    <!-- /.control-sidebar -->
  


    <!-- Main Footer -->
   
  </div>
  <!-- ./wrapper -->
  
  <!-- REQUIRED SCRIPTS -->